<div class="results-index">
  <h2>Users</h2>
  <% @users.each do |user| %>
    <div class="event">
      <h3><%= user.name %></h3>
      <ul class="user-list">
        <li><span class="list-label">Email</span> <%= user.email %></li>
        <li><span class="list-label">Joined</span> <%= user.created_at.strftime('%B, %Y')%></li>
      </ul>
      <div class="controls">
        <ul>
          <li><%= link_to('View Profile', user_path(user.id))%> |</li>
          <li><%= link_to('Edit Profile', edit_user_path(user.id))%> |</li>
          <li><%= button_to('Delete Profile', user_delete_path(user.id))%></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
<div class="search-database">
  <h2>Search users</h2>
  <%= form_tag(users_path, :method => "get", id: "search-form", :enforce_utf8 => false) do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>
