<h1>View Profile</h1>
<p><%= @user.name %></p>
<p><%= @user.email %></p>
<p><%= @user.created_at.strftime('%B, %Y') %></p>
<div class="controls">
  <ul>
    <li><%= link_to('Edit Profile', edit_user_path(@user.id))%> |</li>
    <li><%= button_to('Delete Profile', user_delete_path(@user.id))%></li>
  </ul>
</div>
