<!-- Signup confirmation message -->

<div class="hero">
  <%= image_tag @place.image %>
</div>

<div class="nav-bar">
  <div class="like-container">
    <% if current_user %>
        <% if @current_user.place_ids.include? @place.id %>
          <i class="fa fa-heart fa-2x unlike" id="<%= @place.id %>"></i>
        <% else %>
          <i class="fa fa-heart-o fa-2x like" id="<%= @place.id %>"></i>
        <% end %>
    <% end %>
   </div> 
  <div class="discover"><%= link_to 'Discover', page_path(@place) %></div>
  <div class="game">Game</div>
  <div class="share"><i class="fa fa-share-alt fa-lg"></i></div>
</div>
<i class="fa fa-bars fa-2x"></i>
<div class="login-overlay">

<!--    Sign in email/password -->
  <div class="signin-container">
    <div class="general-overlay signin-form">
      <h2>Got an account? Sign in!</h2>
      <%= render :partial => 'sessions/form' %>
    </div>
  </div>

  <div class="facebook-container">
    <div class="overlay">
      <%= link_to "/auth/facebook", title: "Log in with Facebook", id: "sign_in", class: "btn-fb-signin" do %>
        <i class="fa fa-facebook fa-lg"></i>
        <p class="btn-fb-text">Sign in with <strong>Facebook</strong></p>
      <% end %>
    </div>
  </div>

<!-- Sign up email/password -->
  <div class="signup-container">
    <div class="general-overlay signup-form">
      <h2>New to Historia? Sign up!</h2>
      <%= render :partial => 'users/form' %>
    </div>
  </div>

  <div class="google-container">
    <div class="overlay">
      <%= link_to "/auth/google_oauth2", title: "Log in with Google", id: "sign_in", class: "btn-google-signin" do %>
        <i class="fa fa-google fa-lg"></i>
        <p class="btn-google-text">Sign in with <strong>Google</strong></p>
      <% end %>
    </div>
  </div>
  <i class="fa fa-close fa-2x"></i>
</div>