<!-- <div class="main-image">
  <#%= image_tag @place.image %>
</div> -->
<div class="map" data-latitude="<%= @place.latitude %>" data-longitude="<%= @place.longitude %>"></div>
<div id="<%= @place.name %>"class="content">
  <h2><%= @place.name %></h2>
  <p class="fact"><%= @place.name %></p>
  <div class="wiki-container"></div>
</div>
</div>
<div class="flights"></div>