<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Historia | Discover places you didn't know existed</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
<!--     <#%= favicon_link_tag 'favicon.ico' %> -->
  </head>
  <body>
    <header>
      <nav>
        <div>
          <% if current_user %>
            Signed in as <strong><%= current_user.name %></strong>
            <%= link_to "Sign out", signout_path, id: "sign_out" %>
          <% end %>
        </div>
      </nav>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
